header.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#acm-navbar")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(v-link="{ path: '/'}")
        img(src="/assets/images/ac_logo.jpg", style="height: 100%; display: inline;")
        //- | acServer Manager
    nav#acm-navbar.collapse.navbar-collapse
      ul.nav.navbar-nav
        li: a(v-link="{ name: 'content_index'}")
          i.glyphicon.glyphicon-sunglasses
          | &nbsp;Content
        li: a(v-link="{ name: 'race_preset_index'}")
          i.glyphicon.glyphicon-sunglasses
          | &nbsp;Race Presets
        li: a(v-link="{ name: 'race_preset_new'}")
          i.glyphicon.glyphicon-plus
          | &nbsp;Create Race Preset
      ul.nav.navbar-nav.navbar-right
        li.system_monitor
          div(style="width: 100px")
            .progress
              .progress-bar(v-bind:style="{width: $root.system_stats.cpu_percent + '%'}")
            .progress
              .progress-bar(v-bind:style="{width: $root.ram_active_percent + '%'}")
              .progress-bar.progress-bar-warning(v-bind:style="{width: $root.ram_used_percent + '%'}")


        li: a(href="javascript:void(0)")
          i.glyphicon.glyphicon-user
          | &nbsp;Login

