header.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#acm-navbar")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(v-link="{ path: '/'}")
        img(src="/assets/images/ac_logo.jpg", style="height: 100%; display: inline;")
        //- | acServer Manager
    nav#acm-navbar.collapse.navbar-collapse
      ul.nav.navbar-nav
        li: a(v-link="{ name: 'content_index'}") Content
        li: a(v-link="{ name: 'race_preset_index'}") Race Presets
        li: a(v-link="{ name: 'race_preset_new'}") Create Race Preset
      ul.nav.navbar-nav.navbar-right
        li(v-show="$root.ready", transition="fade", style="display:none")
          .system-monitor.mini
            .status-item
              .title
                span &nbsp;CPU
              .progress
                .progress-bar(v-bind:style="{width: $root.system_stats.cpu_percent + '%'}")
              .value
                span(v-text="parseFloat($root.system_stats.cpu_percent).toFixed(1) + '%'")
            .status-item
              .title
                span &nbsp;RAM
              .progress
                .progress-bar.progress-bar-bg(v-bind:style="{width: $root.ram_used_percent + '%'}")
                .progress-bar(v-bind:style="{width: $root.ram_active_percent + '%'}")
              .value
                span(v-text="$root.mem_active_size")
                | /
                span(v-text="$root.mem_total_size")

            .status-item
              .title
                span Disk
              .progress
                .progress-bar(v-bind:style="{width: $root.storage_used_percent + '%'}")
              .value
                span(v-text="$root.storage_used_size")
                | /
                span(v-text="$root.storage_total_size")


        li: a(href="javascript:void(0)")
          i.glyphicon.glyphicon-user
          | &nbsp;Login

