lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.DS_Store

.elasticbeanstalk/
certs/
pids
results
.idea


# backend
seed.js
npm-debug.log
node_modules
config/*.json
app/assets/scripts/config.json
!config/default.json

# Frontend Ignores
*.css
*.map
app/assets/public/style.css
app/assets/scripts/templates
app/assets/public/bundle.js
app/assets/public/templates

# conf file ignores

