lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.DS_Store

.elasticbeanstalk/
certs/
pids
results
.idea


# backend
seed.js
test.js
npm-debug.log
node_modules
tmp
config/*.json
app/assets/scripts/config.json
!config/default.json
!config/validations.json
lib/acserver
!lib/acserver/content/tracks/**/surfaces.ini
!lib/acserver/content/cars/**/data.acd
lib/stracker/stracker.ini

# Frontend Ignores
*.css
*.map
app/assets/public/style.css
app/assets/scripts/templates
!app/assets/scripts/templates/*.ini

app/assets/public/bundle.js

# conf file ignores

