include _input

mixin _input_number(type, model, validations)
  - if (locals._.has(validations, 'min')) attributes.min = validations.min;
  - if (locals._.has(validations, 'max')) attributes.max = validations.max;
  - attributes.number = true;
  +_input('text', model)&attributes(attributes)
