include label
include input

mixin form_field_inline(label, type, model, validations, control)
  .form-group
    +label(label, model)(class='col-lg-4')

    .col-lg-8
      +input(type, model, validations, control)(class='form-control')
        block
