include _which_input

mixin input(type, model, validations, control)
  .validation-status(v-bind:class="{ 'has-error': $validation.#{model}.invalid }")
    if control && control.addon && type !== 'custom'
      .input-group
        +_which_input(type, model, validations, control)&attributes(attributes)

        if block
          //- input group addons
          .input-group-addon
            block
    else
      +_which_input(type, model, validations, control)&attributes(attributes)
        if block
          block

    //- validations
    if validations
      each value, key in validations
        - var name = locals._.isArray(validations) ? value : key;
        - var value = (locals._.isNumber(key)) ? '' : ' (' + key + ' ' + value + ')';
        span.help-block(v-if="$validation." + model + "." + name, transition="expand")= locals.validations[name] + value
