@import 'includes/bootstrap/bootstrap.less';
@import 'includes/font-awesome/font-awesome.less';
@import (inline) 'includes/highlightjs/rainbow.css';

body {
  padding-top: @navbar-height + @grid-gutter-width;
}

.expand-transition {
  transition: all .3s ease;
  max-height: 9999px;
  opacity: 1;

  &.expand-enter, &.expand-leave {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
  }
}


.fade-transition {
  transition: all .2s linear;
  opacity: 1;

  &.fade-enter, &.fade-leave {
    opacity: 0;
  }
}

.input-group-addon > .form-control {
  display: inline-block;
  border: none;
  &, &:focus {
    box-shadow: none;
  }
}

.input-group-addon > .validation-status {
  display: inline-block;
}

.inner-context {
  position: absolute;
  @inner-context-offset-vertical: (@grid-gutter-width / 4);
  @inner-context-offset-horizontal: (@grid-gutter-width / 2);

  top: @inner-context-offset-vertical;
  left: @inner-context-offset-horizontal;
  right: @inner-context-offset-horizontal;

  &.deeper {
    top: (@inner-context-offset-vertical * 2);
    left: (@inner-context-offset-horizontal * 2);
    right: (@inner-context-offset-horizontal * 2);
  }

  &.inner-context-topright {
    bottom: auto;
    left: auto;
  }

  &.inner-context-topleft {
    bottom: auto;
    right: auto;
  }
}

.system-monitor.mini {
  padding: 12px (@grid-gutter-width / 2);

  .status-item {
    line-height: 1;
  }

  .title, .progress, .value {
    display: inline-block;
    font-family: monospace;
    font-size: 90%;
    text-align: right;
    letter-spacing: -0.1px;
  }

  .progress {
    width: 80px;
    margin-right: (@grid-gutter-width / 4);
    margin-left: (@grid-gutter-width / 4);
    margin-bottom: 1px; // for spacing
  }

  .progress-bar-bg {
    background-color: lighten(@brand-primary, 25%);
  }
}

// overrides
.input-group-addon {
  border-bottom: 0px solid transparent;
  box-shadow: inset 0 -1px 0 #ddd;
  .transition(all 0.2s);
}

.form-control:focus + .input-group-addon {
  box-shadow: inset 0 -2px 0 @brand-primary;
}

.has-error .form-control + .input-group-addon {
  box-shadow: inset 0 -2px 0 @brand-danger;
}

.progress &-bar {
   &:last-child {
    border-radius: 0;
     &:before {
       background-color: transparent;
     }
   }

   &-success:last-child.progress-bar:before {
     background-color: transparent;
   }

   &-info:last-child.progress-bar:before {
     background-color: transparent;
   }
   &-warning:last-child.progress-bar:before {
     background-color: transparent;
   }

   &-danger:last-child.progress-bar:before {
     background-color: transparent;
   }
}

.progress-bar {
  position: absolute;

  &:last-child {
    border-radius: 0;
  }
}
