.row(v-for="(brand, cars) in content")
  .col-md-12
    h4
      img(v-bind:src="cars[0].logo.url", height="50")
      |&nbsp;&nbsp;
      span(v-text="brand")
    hr
  .col-md-4(v-for="car in cars")
    car(v-bind:car="car")