h1 Content new
.row(v-for="socket_id in socket_ids"): .col-lg-12
  install_content(v-bind:socket_id="socket_id")
.col-lg-12
  .pull-right
    a.btn.btn-sm.btn-default(@click.prevent="add_row")
      i.fa.fa-plus
      | &nbsp;Add Row
