extends includes/loading
block loaded
  .row: .col-sm-12: .page-header
    h1 Installed Content
  .row(v-for="(brand, cars) in grouped_cars")
    .col-md-12
      h4
        img(v-bind:src="cars[0].logo.url", height="50")
        |&nbsp;&nbsp;
        span(v-text="brand")
      hr
    .col-md-4(v-for="car in cars")
      card(v-bind:title="car.name", v-bind:image="car.liveries[0].preview.url")
        div(slot="header")
          dropdown.inner-context.inner-context-topright.deeper
            button.btn.btn-default.btn-xs(type="button", data-toggle="dropdown")
              | Liveries &nbsp;
              i.fa.fa-angle-down
            ul.dropdown-menu(name="dropdown-menu")
              li(v-for="livery in car.liveries")
                a(href="javascript:void(0)")
                  img.img-rounded(v-bind:src="livery.thumbnail.url", height="25px")
                  | &nbsp;{{ livery.name }}

        div(slot="content")
          p This is some content