include forms/form_field

.install-content
  form(novalidate, v-on:submit.prevent="install")
    .validation-status(v-bind:class="{'has-error': has_error}")
      .input-group
        input.form-control.input-lg(v-model="url", type="text", placeholder='http://www.racedepartment.com/downloads/mosport')
        .input-group-addon
          button.btn.btn-xs.btn-success(v-if="url.length > 0", type="submit")
            i.fa.fa-download
            | &nbsp;Install
          a.btn.btn-xs.btn-default(@click.prevent="remove_row(index)", v-if="url.length < 1")
            i.fa.fa-trash
            | &nbsp;Clear Row
      span.help-block(v-if="has_error", transition="expand") {{ error_msg }}
  .install_info(v-if='installing', transition="fade")
    .progress: .progress-bar(v-bind:style="{width: downloading_progress }")
    console(v-bind:buffer="console_buffer")
